body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#ruleta-container {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

#flecha {
    position: absolute;
    top: -30px; /* Ajustado para el tamaño de la ruleta */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #000; /* Flecha negra */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#boton-secreto {
    background-color: red;
    color: white;
}